<div class="header-custom">
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand bg-white p-2" href="#">TripPlanner</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white " href="#">Home </a>
        </li>

        <!-- if logged in -->
        <li class="nav-item">
            <a *ngIf="loggedIn" [routerLink]="['/places']" class="nav-link text-white" href="#">Create Trips</a>
        </li>
        <li class="nav-item">
          <a *ngIf="loggedIn" class="nav-link text-white" href="#">My Trips</a>
        </li>

        <!-- IF NOT LOGGED IN -->
        <li class="nav-item">
          <span *ngIf="!loggedIn" data-toggle= "tooltip" data-placement="top" title="Login To Enable This Feature">
            <a class="nav-link disabled text-white-50" href="#">Create Trips</a>
          </span>
        </li>
        <li class="nav-item">
          <span *ngIf="!loggedIn" data-toggle= "tooltip" data-placement="top" title="Login To Enable This Feature">
            <a class="nav-link disabled text-white-50" href="#">My Trips</a>
          </span>
        </li>

      </ul>
      <button *ngIf="!loggedIn" (click)="toogleLoginButton()" type="button" [class]="signInButton ? 'btn btn-outline-light' : 'btn btn-outline-dark text-dark'">{{signInButton ? "Sign In":"X" }}</button>
      <ng-template [ngIf]="loggedIn">
        <li class="nav-link text-white" >Hi {{userName}}</li>
        <button class="btn btn-outline-light" type="button" (click)="logOut()">Logout</button>
      </ng-template>
    </div>
  </nav>
</div>